{% extends "tembak/xl_base_generic.html" %}

{% block content %}    

    <form class="middle-center" action="" method="POST">
        {% csrf_token %}
        {{ form.msisdn.errors}}
        {{ form.msisdn}}
        {{ form.otp.errors}}
        {{ form.otp}}
        <a class="button">Request otp</a>
        <input type="submit" value="Sign in">

        {% if request.GET.error %}
            <div class="info info-error">{{ request.GET.error }}</div>
        {% endif %}

    </form>

{% endblock %}
